body {
  background: #111;
  color: white;
  font-family: Arial;
}

.container {
  width: 600px;
  margin: auto;
  padding-top: 40px;
}

.output {
  margin-top: 30px;
  padding: 15px;
  background: #222;
  border-radius: 8px;
}
